<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#
          <select class="dropdown-toggle" (change)="onSelect($event)">
            <option value="" disabled>Sort By Rank</option>>
            <option> Lowest first </option>
            <option> Highest first </option>
          </select></th>
        <th>Firstname
          <select class="dropdown-toggle" (change)="onSelect($event)">
            <option value="" disabled>Sort By Name</option>>
            <option> Ascending (A-Z) </option>
            <option> Descending (Z-A) </option>
          </select>
        </th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Status</th>
        <th>Modify</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let curr of contactsArray">
        <td>{{curr.id}}</td>
        <td>{{curr.firstname}}</td>
        <td>{{curr.lastname}}</td>
        <td>{{curr.email}}</td>
        <td>{{curr.phone}}</td>
        <td [ngClass]="{
                  'list-group-item-success' : curr.status==='Active',
                  'list-group-item-danger' : curr.status==='Inactive'
              }">{{curr.status|uppercase}}</td>
        <td>
          <button class="btn btn-warning" (click)="editUserContact(curr)"
            [disabled]="curr.status==='Inactive'">Edit</button>
          <button class="btn btn-success ml-1" (click)="toggleStatus(curr.id)">Toggle Status</button>
          <button class="btn btn-danger ml-1" (click)="deleteUserContact(curr)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<a [routerLink]="['/add']" class="btn btn-success ml-2">New Contact</a>
<a href="#" class="btn btn-outline-success ml-2">Refresh (F5)</a>
