<div style="padding: 8px">
</div>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading" id="header">Implementation Details.</h1>
      <ul>
        <li>Implemented functionality to list and update Contact details.</li>
        <li>Visually appealing and user friendly display.</li>
        <li>All the contact details are stored in JSON.</li>
        <li>New contact can be added by clicking <b>New Contact.</b></li>
        <li>Contact can be modified by clicking <b>Edit button.</b></li>
        <li>Contact can be deleted by clicking <b>Delete button.</b></li>
        <li>On initial loading of application default 3 contacts will be displayed.</li>
        <li>Implemented Sorting feature (Based on Firstname,Lastname & ID).</li>
        <li>Firstname and Lastname <i>can comprise the letters Aa to Zz & underscore,hyphen(-).</i></li>
        <li>Phone no <i>minimum and maximum limit is 10</i> and <i>should be numeric only.</i></li>
        <li>The user can toggle the contact status to Active/Inactive using <b>Toggle Status</b> button.</li>
      </ul>
      <p class="lead">
        <br>
        <a routerLink="/view" class="btn btn-lg btn-success">Get Started -></a>
      </p>
    </main>
  </div>
  <div class="footer">
      Created by <a href="mailto: jatinchavan3010@gmail.com">Jatin Chavan.</a>  :)<br>
      Source code on
      <a target="_blank" rel="noopener" href="https://github.com/jatinchavan/contactMgmt">
        <i class="fa fa-github"></i> GitHub </a>
  </div>

