<div style="padding: 10px">
</div>

<body class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading" id="header">Implementation Details.</h1>
      <ul>
        <li>Implemented functionality to list and update Contact details.</li>
        <li>Visually appealing and user friendly display.</li>
        <li>All the contact details are stored in JSON.</li>
        <li>New contact can be added by clicking New Contact.</li>
        <li>Contact can be modified by clicking Edit button.</li>
        <li>On initial loading of application default 3 contacts will be displayed.</li>
        <li>Implemented Sorting feature (Based on Firstname & ID).</li>
        <li>The user can toggle the contact status to Active/Inactive.</li>
        <li>If the contact status is Inative then Edit button will be disabled.</li>
        <li>Implemented simple routing feature, this page is by default landing page.</li>
      </ul>
      <p class="lead">
        <br>
        <a routerLink="/view" class="btn btn-lg btn-success">Get Started -></a>
      </p>
    </main>
  </div>
  <br>
  Created by  <a href="mailto: jatinchavan3010@gmail.com">Jatin Chavan.</a> <br>
  Source code on
<a target="_blank" rel="noopener" href="https://github.com/avatsaev/angular-contacts-app-example">
  <i class="fa fa-github"></i> GitHub
</a>
